<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>girlsmile10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10001</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10002</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10003</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10004</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10005</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10006</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10007</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10009</key>
			<dict>
				<key>frame</key>
				<string>{{120,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10010</key>
			<dict>
				<key>frame</key>
				<string>{{240,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10011</key>
			<dict>
				<key>frame</key>
				<string>{{360,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10012</key>
			<dict>
				<key>frame</key>
				<string>{{480,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10013</key>
			<dict>
				<key>frame</key>
				<string>{{600,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10014</key>
			<dict>
				<key>frame</key>
				<string>{{720,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10015</key>
			<dict>
				<key>frame</key>
				<string>{{840,171},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10017</key>
			<dict>
				<key>frame</key>
				<string>{{120,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10018</key>
			<dict>
				<key>frame</key>
				<string>{{240,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10019</key>
			<dict>
				<key>frame</key>
				<string>{{360,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10020</key>
			<dict>
				<key>frame</key>
				<string>{{480,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10021</key>
			<dict>
				<key>frame</key>
				<string>{{600,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10022</key>
			<dict>
				<key>frame</key>
				<string>{{720,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10023</key>
			<dict>
				<key>frame</key>
				<string>{{840,342},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10025</key>
			<dict>
				<key>frame</key>
				<string>{{120,513},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10026</key>
			<dict>
				<key>frame</key>
				<string>{{240,513},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10027</key>
			<dict>
				<key>frame</key>
				<string>{{360,513},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10028</key>
			<dict>
				<key>frame</key>
				<string>{{480,513},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
			<key>girlsmile10029</key>
			<dict>
				<key>frame</key>
				<string>{{600,513},{120,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,171}}</string>
				<key>sourceSize</key>
				<string>{120,171}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>nvhai_xiao.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>nvhai_xiao.png</string>
		</dict>
	</dict>
</plist>
