<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ku10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10001</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10002</key>
			<dict>
				<key>frame</key>
				<string>{{308,0},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10003</key>
			<dict>
				<key>frame</key>
				<string>{{462,0},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10004</key>
			<dict>
				<key>frame</key>
				<string>{{616,0},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10005</key>
			<dict>
				<key>frame</key>
				<string>{{770,0},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10006</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10007</key>
			<dict>
				<key>frame</key>
				<string>{{154,171},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10008</key>
			<dict>
				<key>frame</key>
				<string>{{308,171},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10009</key>
			<dict>
				<key>frame</key>
				<string>{{462,171},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10010</key>
			<dict>
				<key>frame</key>
				<string>{{616,171},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10011</key>
			<dict>
				<key>frame</key>
				<string>{{770,171},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10013</key>
			<dict>
				<key>frame</key>
				<string>{{154,342},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10014</key>
			<dict>
				<key>frame</key>
				<string>{{308,342},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10015</key>
			<dict>
				<key>frame</key>
				<string>{{462,342},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10016</key>
			<dict>
				<key>frame</key>
				<string>{{616,342},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10017</key>
			<dict>
				<key>frame</key>
				<string>{{770,342},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10018</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10019</key>
			<dict>
				<key>frame</key>
				<string>{{154,513},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10020</key>
			<dict>
				<key>frame</key>
				<string>{{308,513},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10021</key>
			<dict>
				<key>frame</key>
				<string>{{462,513},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10022</key>
			<dict>
				<key>frame</key>
				<string>{{616,513},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10023</key>
			<dict>
				<key>frame</key>
				<string>{{770,513},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,684},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10025</key>
			<dict>
				<key>frame</key>
				<string>{{154,684},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10026</key>
			<dict>
				<key>frame</key>
				<string>{{308,684},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10027</key>
			<dict>
				<key>frame</key>
				<string>{{462,684},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10028</key>
			<dict>
				<key>frame</key>
				<string>{{616,684},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
			<key>ku10029</key>
			<dict>
				<key>frame</key>
				<string>{{770,684},{154,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,171}}</string>
				<key>sourceSize</key>
				<string>{154,171}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>nvhai_ku.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>nvhai_ku.png</string>
		</dict>
	</dict>
</plist>
