<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pen10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10001</key>
			<dict>
				<key>frame</key>
				<string>{{155,0},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10002</key>
			<dict>
				<key>frame</key>
				<string>{{310,0},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10003</key>
			<dict>
				<key>frame</key>
				<string>{{0,145},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10004</key>
			<dict>
				<key>frame</key>
				<string>{{155,145},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10005</key>
			<dict>
				<key>frame</key>
				<string>{{310,145},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10006</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10007</key>
			<dict>
				<key>frame</key>
				<string>{{155,290},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10008</key>
			<dict>
				<key>frame</key>
				<string>{{310,290},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>pen10009</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,145}}</string>
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>pen.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>pen.png</string>
		</dict>
	</dict>
</plist>
