<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pen10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,0},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,0},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,0},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1384,0},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,248},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,248},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,248},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,248},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1384,248},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,496},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,496},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,496},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,496},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1384,496},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,744},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,744},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,744},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,744},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1384,744},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,992},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,992},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,992},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,992},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1384,992},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1240},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,1240},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,1240},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,1240},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1384,1240},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1488},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,1488},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{692,1488},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,1488},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1384,1488},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1736},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pen10036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,248}</string>
				<key>spriteSourceSize</key>
				<string>{346,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,1736},{346,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>animation_pen1.png</string>
				<key>textureFileName</key>
				<string>animation_pen1</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
