<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idle10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10001</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10002</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10003</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10004</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10005</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10006</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10007</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10009</key>
			<dict>
				<key>frame</key>
				<string>{{120,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10010</key>
			<dict>
				<key>frame</key>
				<string>{{240,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10011</key>
			<dict>
				<key>frame</key>
				<string>{{360,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10012</key>
			<dict>
				<key>frame</key>
				<string>{{480,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10013</key>
			<dict>
				<key>frame</key>
				<string>{{600,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10014</key>
			<dict>
				<key>frame</key>
				<string>{{720,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10015</key>
			<dict>
				<key>frame</key>
				<string>{{840,170},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10017</key>
			<dict>
				<key>frame</key>
				<string>{{120,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10018</key>
			<dict>
				<key>frame</key>
				<string>{{240,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10019</key>
			<dict>
				<key>frame</key>
				<string>{{360,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10020</key>
			<dict>
				<key>frame</key>
				<string>{{480,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10021</key>
			<dict>
				<key>frame</key>
				<string>{{600,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10022</key>
			<dict>
				<key>frame</key>
				<string>{{720,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10023</key>
			<dict>
				<key>frame</key>
				<string>{{840,340},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10025</key>
			<dict>
				<key>frame</key>
				<string>{{120,510},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10026</key>
			<dict>
				<key>frame</key>
				<string>{{240,510},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10027</key>
			<dict>
				<key>frame</key>
				<string>{{360,510},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10028</key>
			<dict>
				<key>frame</key>
				<string>{{480,510},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>idle10029</key>
			<dict>
				<key>frame</key>
				<string>{{600,510},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>nvhai_daiji.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>nvhai_daiji.png</string>
		</dict>
	</dict>
</plist>
