<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>candy10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10001</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10002</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10003</key>
			<dict>
				<key>frame</key>
				<string>{{315,0},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,109},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10005</key>
			<dict>
				<key>frame</key>
				<string>{{105,109},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10006</key>
			<dict>
				<key>frame</key>
				<string>{{210,109},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10007</key>
			<dict>
				<key>frame</key>
				<string>{{315,109},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10009</key>
			<dict>
				<key>frame</key>
				<string>{{105,218},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10010</key>
			<dict>
				<key>frame</key>
				<string>{{210,218},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10011</key>
			<dict>
				<key>frame</key>
				<string>{{315,218},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,327},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10013</key>
			<dict>
				<key>frame</key>
				<string>{{105,327},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10014</key>
			<dict>
				<key>frame</key>
				<string>{{210,327},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10015</key>
			<dict>
				<key>frame</key>
				<string>{{315,327},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10017</key>
			<dict>
				<key>frame</key>
				<string>{{105,436},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10018</key>
			<dict>
				<key>frame</key>
				<string>{{210,436},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10019</key>
			<dict>
				<key>frame</key>
				<string>{{315,436},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,545},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10021</key>
			<dict>
				<key>frame</key>
				<string>{{105,545},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10022</key>
			<dict>
				<key>frame</key>
				<string>{{210,545},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10023</key>
			<dict>
				<key>frame</key>
				<string>{{315,545},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,654},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10025</key>
			<dict>
				<key>frame</key>
				<string>{{105,654},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10026</key>
			<dict>
				<key>frame</key>
				<string>{{210,654},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
			<key>candy10027</key>
			<dict>
				<key>frame</key>
				<string>{{315,654},{105,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,109}}</string>
				<key>sourceSize</key>
				<string>{105,109}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>tangguodonghua.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>tangguodonghua.png</string>
		</dict>
	</dict>
</plist>
